.photo{
    width: 120px;
    margin: 20px;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo_face{
    width: 45px;
    justify-content: right;
}
.logo_insta{
    width: 40px;
}
.logo_youtube{
    width: 40px;
    justify-content: flex-end;
}
.container2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 238, 238);
    height: 60px;
    align-items: center;
    justify-content: right;
}
.header-link{
    color:rgb(31, 11, 11);
    text-decoration: none;
    padding: 20px;
}
.header-link:hover{
    color: rgb(195, 96, 30);
}
.socials{
    display:flex;
    margin-right: 25px;
    margin-top: 10px;
    align-items: center;
}
.text-tels{
    display: flex;
}
.hat {
    display: flex;
    flex-direction: column;
}
.social-items{
    padding: 2px;
}
.contacts{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.text_item{
    margin-right: 20px;
}
.foto{
    background-image: url('krysha-doma.jpg'); 
    width: 100%;
    height: 900px;
    background-size: cover;
    padding: 1px;
}
h1{
    font-size: 85px;
    margin-bottom: 15px;
    color: white;
    padding-left: 50px;
}
.textik{
    color: #ffffff;
    padding-left: 50px;
}
.text-buttons{
    padding-left: 50px;
    padding-top: 30px;
}
.text-button1{
    background-color: goldenrod;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.text-button2{
    height: 40px;
    width: 150px;
    border-radius: 8px;
    color: white;
    border: 2px solid white;
    margin-left: 10px;
    background-color: rgba(137, 43, 226, 0);
    cursor: pointer;
}
.text-info{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-size: 60px;
}
.text-work{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.border{
    border-bottom: 2px solid orange;
    width: 4%;
    margin-left: 50px;
}
.container4{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 140px;
    padding-right: 100px;
}
.photka_1{
     width: 130px;
     height: 130px;
}
.menu_text1{
    width: 300px;
    padding-top: 20px;
}
.menu_text2{
    padding-top: 10px;
    color: red;
    font-size:large;
    font-weight:700;
}
.menu_text3{
    padding-top: 30px;
    color: red;
    font-size:large;
    font-weight:700;
}
.menu_1{
    text-align: center;
    border: solid 2px;
    padding: 10px;
    border-color: grey;
}
.menu_text{
    color: goldenrod;
    font-size: 25px;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.button1{
    width: 350px;
    margin-right: 30px;
    background-color: goldenrod;
    color: white;
    border: none;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
}
.button2{
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    width: 120px;
}
.working{
    display: flex;
    justify-content: center;
    color: crimson;
    padding-top: 120px;
    font-size: 60px;
    margin-bottom: 15px;
}
.border2{
    border-bottom: 2px solid rgb(203, 203, 203)  ;
    width: 4%;
    margin-left: 610px;
}
.container5{
    display:flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 120px;
    padding-bottom: 120px;
}
.menu-work{
    color: goldenrod;
    font-size: 90px;
    display: flex;
    align-items: center;
    padding-left: 80px;
}
.menu-work1{
    color: crimson;
    display:flex;
    align-items: center;
    padding-left: 55px;
    font-size: 130%;
}
.menu-work2{
    width: 340px;
    padding-top: 15px;
    padding-left: 55px;
}
#work{
    background-color: whitesmoke;
}
#about-us{
    display: flex;
}
.kompania_photo{
    padding-left: 70px;
    padding-top: 110px;
    width: 600px;
}
.about-kompania{
    margin-left: 10px;
    font-size: 55px;
    margin-top: 170px;
    padding-left: 45px;
    margin-bottom: 15px;
}
.border3{
    border-bottom: 2px solid rgb(223, 223, 223)  ;
    width: 10%;
    margin-left: 55px;
}
.zagowolok{
    width: 550px;
    padding-left: 55px;
    font-size: 20px;
    line-height: 25px;
}
.viki{
    width: 550px;
    padding-left: 55px;
    padding-top: 35px;
    line-height: 25px;
}
.story{
    width: 590px;
    padding-left: 55px;
    padding-top: 10px;
    line-height: 25px;
}
.about_buttons{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.button-1{
    width: 170px;
    margin-right: 30px;
    background-color: goldenrod;
    color: white;
    border: none;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
}
.button-2{
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    width: 180px;
}
#why{
    background-color: whitesmoke;
}
.name-zagowolok{
    display: flex;
    justify-content: center;
    font-size: 55px;
    color: goldenrod;
    padding-top: 110px;
    margin-bottom: 15px;
}
.name_text{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 50px;
}
.border4{
    border-bottom: 2px solid rgb(223, 223, 223)  ;
    width: 4%;
    margin-left: 618px;
}
.container7{
    display:flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 120px;
    padding-bottom: 120px;
}
.why-etaps{
    background-color: white;
    padding-right: 30px;
    padding-left: 30px;
    border-top: 6px solid crimson;
}
.menu-etaps1{
    color: goldenrod;
    font-size: 20px;
}
.menu-etaps2{
    width: 270px;
    padding-top: 20px;
    padding-bottom: 15px;
    height: 125px;
    line-height: 20px;
}
.why1{
    width: 70px;
    padding-top: 20px;
}
.why2{
    width: 80px;
    padding-top: 20px;
}
.why3{
    width: 80px;
    padding-top: 20px;
}
.container8{
    background-image: url('stroechka-new.jpg');  
    width: 100%;
    height: 800px;
    background-size: cover;
    padding-top: 20px;
}
.textis{
    display: flex;
    text-align: center;
    color: black;
    width: 400px;
    font-size: 18px;
}
.textuk{
    color: goldenrod;
    font-size: 60px;
    display: flex;
    text-align: center;
    padding-top: 50px;
}
.pablik{
    margin-left: 780px;
    background-color: white;
    width: 440px;
    padding-left: 25px;
    padding-bottom: 5px;
}
.names{
    border-radius: 5px;
    padding-top: 10px;
    width: 250px;
    background-color: rgb(243, 238, 238);
    height: 35px;
}
.number{
    border-radius: 5px;
    padding-top: 10px;
    width: 250px;
    background-color: rgb(243, 238, 238);
    height: 35px;
}
.email{
    border-radius: 5px;
    padding-top: 10px;
    width: 250px;
    background-color: rgb(243, 238, 238);
    height: 35px;
}
.signup_form{
    padding-top: 20px;
    padding-bottom: 40px;
}
.button_1{
    background-color: goldenrod;
    color: white;
    border: none;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
    width: 250px;
}
.photo{
    width: 120px;
    margin: 20px;
    margin-bottom: 20px;
}
.container9{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo_face1{
    width: 45px;
    justify-content: right;
}
.logo_insta1{
    width: 40px;
}
.logo_youtube1{
    width: 40px;
    justify-content: flex-end;
}
.socials1{
    display:flex;
    align-items: center;
    margin-right: 25px;
    margin-top: 10px;
}
.text-tels1{
    display: flex;
}
.social-items1{
    padding: 2px;
}
.contacts1{
    display: flex;
    justify-content: space-between;
}
.text_item1{
    padding-right: 180px;
}
.text-items1{
    font-size: 18px;
}
.vikipedia{
    width: 300px;
     margin: 20px;
}